---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<style>
  .talks-cv ol {
    margin-top: 0.7rem;
    padding-left: 1.4rem;
  }
  .talks-cv li {
    margin-bottom: 1rem;
  }
  .talk-title {
    font-weight: 700;
  }
  .talk-meta {
    color: #4f4f4f;
    margin: 0.2rem 0;
  }
  .talk-detail {
    color: #4f4f4f;
    margin: 0.05rem 0;
  }
  .talk-type {
    margin: 0.1rem 0 0.6rem 0;
  }
</style>

## Invited and Keynote Talks

<section class="talks-cv">
  <ol>
    <li>
      <div class="talk-title">Functional Programming for Management and Orchestration of Virtualized Network Resources</div>
      <div class="talk-detail"><strong>Event:</strong> Mini-course</div>
      <div class="talk-detail"><strong>Location:</strong> Johannes Kepler University JKU Linz, Institute for System Software, Linz, Austria</div>
      <div class="talk-detail"><strong>Date:</strong> March 24 - 27 2026</div>
      <div class="talk-type"><strong>Type:</strong> mini-course</div>
    </li>
    <li>
      <div class="talk-title">Software Design Principles for Sustainable Software Operation</div>
      <div class="talk-detail"><strong>Event:</strong> 2nd SusTrainable Summer School (SusTrainable-23)</div>
      <div class="talk-detail"><strong>Location:</strong> University of Coimbra, Coimbra, Portugal</div>
      <div class="talk-detail"><strong>Date:</strong> July 10-15, 2023</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Algorithms for sustainable system topologies (joint with Neven Grbac)</div>
      <div class="talk-detail"><strong>Event:</strong> 1st SusTrainable Summer School (SusTrainable-22)</div>
      <div class="talk-detail"><strong>Location:</strong> University of Rijeka, Rijeka, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> July 4-8, 2022</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Understanding the relationships between static code measures and energy consumption (joint with Dalibor Fonovic)</div>
      <div class="talk-detail"><strong>Event:</strong> SusTrainable Workshop, colocated with ICT4S 2022</div>
      <div class="talk-detail"><strong>Location:</strong> Plovdiv, Bulgaria</div>
      <div class="talk-detail"><strong>Date:</strong> June 17, 2022</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Software engineering meets software defined networks</div>
      <div class="talk-detail"><strong>Event:</strong> SDS 2021 / IoTSMS 2021</div>
      <div class="talk-detail"><strong>Location:</strong> Gandia, Spain</div>
      <div class="talk-detail"><strong>Date:</strong> December 6-9, 2021</div>
      <div class="talk-type"><strong>Type:</strong> keynote</div>
    </li>
    <li>
      <div class="talk-title">Dynamic topological structures in software</div>
      <div class="talk-detail"><strong>Event:</strong> SusTrainable Teacher Training</div>
      <div class="talk-detail"><strong>Location:</strong> Radboud University, Nijmegen, The Netherlands</div>
      <div class="talk-detail"><strong>Date:</strong> November 1-5, 2021</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Programming of advanced management and orchestration of virtualized network resources - selection of case studies (with Nikola Domazet)</div>
      <div class="talk-detail"><strong>Event:</strong> 3COWS with Extended CEFP Summer School</div>
      <div class="talk-detail"><strong>Location:</strong> Budapest, Hungary</div>
      <div class="talk-detail"><strong>Date:</strong> June 17-21, 2019</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Program structures and fault behaviour in complex systems</div>
      <div class="talk-detail"><strong>Event:</strong> Invited talk at University of Maribor</div>
      <div class="talk-detail"><strong>Location:</strong> Maribor, Slovenia</div>
      <div class="talk-detail"><strong>Date:</strong> February 2018</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Programming of management and orchestration of virtualized network resources</div>
      <div class="talk-detail"><strong>Event:</strong> 3COWS Winter School</div>
      <div class="talk-detail"><strong>Location:</strong> Kosice, Slovakia</div>
      <div class="talk-detail"><strong>Date:</strong> January 2018</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Modeling complex software systems behaviour</div>
      <div class="talk-detail"><strong>Event:</strong> Invited talk at University of Novi Sad</div>
      <div class="talk-detail"><strong>Location:</strong> Novi Sad, Serbia</div>
      <div class="talk-detail"><strong>Date:</strong> November 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Modeling fault behaviour in evolving complex open software environments</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop on Autonomous Control for Reliable Internet of Services</div>
      <div class="talk-detail"><strong>Location:</strong> Bilbao, Spain</div>
      <div class="talk-detail"><strong>Date:</strong> October 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Virtualisation technologies in software engineering management</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop Software Engineering: Computer Science Education and Research Cooperation</div>
      <div class="talk-detail"><strong>Location:</strong> Jahorina (Sarajevo), Bosnia and Herzegovina</div>
      <div class="talk-detail"><strong>Date:</strong> August 22-26, 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Service management concepts and challenges in cloud environments</div>
      <div class="talk-detail"><strong>Event:</strong> 2nd International Summer School on Autonomous Control for Reliable Future Networks and Services</div>
      <div class="talk-detail"><strong>Location:</strong> Opatija, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> May 27-31, 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Modeliranje ponasanja sustava uz primjenu informacijsko-komunikacijskih tehnologija [System behavior modelling using the information and communications technologies]</div>
      <div class="talk-detail"><strong>Event:</strong> MedRi Scientific Picnic, University of Rijeka</div>
      <div class="talk-detail"><strong>Location:</strong> Rijeka, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> December 16, 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Empirical analysis of complex software systems behaviour</div>
      <div class="talk-detail"><strong>Event:</strong> Invited talk at Lund University, Department of Computer Science</div>
      <div class="talk-detail"><strong>Location:</strong> Lund, Sweden</div>
      <div class="talk-detail"><strong>Date:</strong> November 16, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Predicting and simulating complex software systems behaviour</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop on Autonomous Control for Reliable Internet of Services</div>
      <div class="talk-detail"><strong>Location:</strong> Lovran, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> October 8, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Modeling complex software system behaviour</div>
      <div class="talk-detail"><strong>Event:</strong> Invited talk at Jozef Stefan Institute</div>
      <div class="talk-detail"><strong>Location:</strong> Ljubljana, Slovenia</div>
      <div class="talk-detail"><strong>Date:</strong> September 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Software engineering perspectives in virtual and software defined network environments</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop Software Engineering: Computer Science Education and Research Cooperation</div>
      <div class="talk-detail"><strong>Location:</strong> Bohinj, Slovenia</div>
      <div class="talk-detail"><strong>Date:</strong> August 24-29, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Programsko inzenjerstvo, trendovi razvoja i perspektiva maloga poduzetnistva [Software engineering, development trends and SME perspective]</div>
      <div class="talk-detail"><strong>Event:</strong> USIP Conference, Juraj Dobrila University of Pula</div>
      <div class="talk-detail"><strong>Location:</strong> Pula, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> July 24, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Reliability pitfalls of real-time switching telecommunication software platforms</div>
      <div class="talk-detail"><strong>Event:</strong> Invited talk at Imperial College London</div>
      <div class="talk-detail"><strong>Location:</strong> London, United Kingdom</div>
      <div class="talk-detail"><strong>Date:</strong> February 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Reliable Software Networks</div>
      <div class="talk-detail"><strong>Event:</strong> EIT ICT Labs Future Networking Solutions Outreach Workshop</div>
      <div class="talk-detail"><strong>Location:</strong> Budapest, Hungary</div>
      <div class="talk-detail"><strong>Date:</strong> December 5, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Potential new case studies for behavioural types: switching software systems</div>
      <div class="talk-detail"><strong>Event:</strong> WG/MC Meeting on Behavioural Types for Reliable Large-Scale Software Systems</div>
      <div class="talk-detail"><strong>Location:</strong> Rome, Italy</div>
      <div class="talk-detail"><strong>Date:</strong> August 31, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">BETTY project presentation</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop Software Engineering: Computer Science Education and Research Cooperation</div>
      <div class="talk-detail"><strong>Location:</strong> Sinaia, Romania</div>
      <div class="talk-detail"><strong>Date:</strong> August 25-29, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Predicting and simulating complex software systems behaviour</div>
      <div class="talk-detail"><strong>Event:</strong> 3rd Workshop on Autonomous Control for Reliable Internet of Services</div>
      <div class="talk-detail"><strong>Location:</strong> Larnaca, Cyprus</div>
      <div class="talk-detail"><strong>Date:</strong> 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Theory on the distributions and predictive capability of verification faults</div>
      <div class="talk-detail"><strong>Event:</strong> SQAMIA 2013</div>
      <div class="talk-detail"><strong>Location:</strong> Novi Sad, Serbia</div>
      <div class="talk-detail"><strong>Date:</strong> September 15-17, 2013</div>
      <div class="talk-type"><strong>Type:</strong> keynote</div>
    </li>
    <li>
      <div class="talk-title">Software factory for student projects</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop Software Engineering: Computer Science Education and Research Cooperation</div>
      <div class="talk-detail"><strong>Location:</strong> Bansko, Bulgaria</div>
      <div class="talk-detail"><strong>Date:</strong> August 26-31, 2013</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Usluzno orijentirano racunarstvo [Service-oriented computing]</div>
      <div class="talk-detail"><strong>Event:</strong> 8th New Technologies Day (DaNTe 2013)</div>
      <div class="talk-detail"><strong>Location:</strong> Rijeka, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> November 6, 2013</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Towards the knowledge-based society at the Software Engineering and Information Processing Laboratory (SEIP Lab)</div>
      <div class="talk-detail"><strong>Event:</strong> Workshop Software Engineering: Computer Science Education and Research Cooperation</div>
      <div class="talk-detail"><strong>Location:</strong> Opatija, Croatia</div>
      <div class="talk-detail"><strong>Date:</strong> September 2-8, 2012</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Continuous improvement framework for global software development (with Zeljka Car)</div>
      <div class="talk-detail"><strong>Event:</strong> 13th International Software &amp; Systems Quality Conference (SQC 2008)</div>
      <div class="talk-detail"><strong>Location:</strong> Dusseldorf, Germany</div>
      <div class="talk-detail"><strong>Date:</strong> April 15-18, 2008</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
  </ol>
</section>

## Talk Archive

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
