---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<style>
  .talks-cv ol {
    margin-top: 0.7rem;
    padding-left: 1.4rem;
  }
  .talks-cv li {
    margin-bottom: 1rem;
  }
  .talk-title {
    font-weight: 700;
  }
  .talk-meta {
    color: #4f4f4f;
    margin: 0.2rem 0;
  }
  .talk-type {
    margin: 0.1rem 0 0.6rem 0;
  }
</style>

## Invited and Keynote Talks

<p>Complete list based on CV (May 2024).</p>

<section class="talks-cv">
  <ol>
    <li>
      <div class="talk-title">Algorithms for sustainable system topologies (joint with Neven Grbac)</div>
      <div class="talk-meta">1st SusTrainable Summer School (SusTrainable-22), University of Rijeka, Croatia, July 4-8, 2022</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Understanding the relations between static code metric and energy consumption (joint with Dalibor Fonovic)</div>
      <div class="talk-meta">Sustainability Workshop collocated with ICT4S, University of Plovdiv, Bulgaria, June 17, 2022</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Software engineering meets software defined networks</div>
      <div class="talk-meta">SDS 2021 / IoTSMS 2021, Gandia, Spain, December 6-9, 2021</div>
      <div class="talk-type"><strong>Type:</strong> keynote</div>
    </li>
    <li>
      <div class="talk-title">Dynamic topological structures in software</div>
      <div class="talk-meta">SusTrainable Teacher Training, Radboud University, Nijmegen, The Netherlands, November 1-5, 2021</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Programming of advanced management and orchestration of virtualized network resources - selection of case studies (with Nikola Domazet)</div>
      <div class="talk-meta">3COWS with Extended CEFP Summer School, Budapest, Hungary, June 17-21, 2019</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Program structures and fault behaviour in complex systems</div>
      <div class="talk-meta">University of Maribor, Slovenia, February 2018</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Programming of management and orchestration of virtualized network resources</div>
      <div class="talk-meta">3COWS Winter School, Kosice, Slovakia, January 2018</div>
      <div class="talk-type"><strong>Type:</strong> invited mini-course</div>
    </li>
    <li>
      <div class="talk-title">Modeling complex software systems behaviour</div>
      <div class="talk-meta">University of Novi Sad, Serbia, November 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Modeling fault behaviour in evolving complex open software environments</div>
      <div class="talk-meta">Workshop on Autonomous Control for Reliable Internet of Services, Bilbao, Spain, October 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Virtualisation technologies in software engineering management</div>
      <div class="talk-meta">Workshop Software Engineering: Computer Science Education and Research Cooperation, Jahorina (Sarajevo), Bosnia and Herzegovina, August 22-26, 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Service management concepts and challenges in cloud environments</div>
      <div class="talk-meta">2nd International Summer School on Autonomous Control for Reliable Future Networks and Services, Opatija, Croatia, May 27-31, 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Modeliranje ponasanja sustava uz primjenu informacijsko-komunikacijskih tehnologija [System behavior modelling using the information and communications technologies]</div>
      <div class="talk-meta">MedRi Scientific Picnic, University of Rijeka, Croatia, December 16, 2016</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Empirical analysis of complex software systems behaviour</div>
      <div class="talk-meta">Lund University, Department of Computer Science, Lund, Sweden, November 16, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Predicting and simulating complex software systems behaviour</div>
      <div class="talk-meta">Workshop on Autonomous Control for Reliable Internet of Services, Lovran, Croatia, October 8, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Modeling complex software system behaviour</div>
      <div class="talk-meta">Jozef Stefan Institute, Ljubljana, Slovenia, September 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Software engineering perspectives in virtual and software defined network environments</div>
      <div class="talk-meta">Workshop Software Engineering: Computer Science Education and Research Cooperation, Bohinj, Slovenia, August 24-29, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Programsko inzenjerstvo, trendovi razvoja i perspektiva maloga poduzetnistva [Software engineering, development trends and SME perspective]</div>
      <div class="talk-meta">USIP Conference, Juraj Dobrila University of Pula, Croatia, July 24, 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Reliability pitfalls of real-time switching telecommunication software platforms</div>
      <div class="talk-meta">Imperial College London, United Kingdom, February 2015</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Reliable Software Networks</div>
      <div class="talk-meta">EIT ICT Labs Future Networking Solutions Outreach Workshop, Budapest, Hungary, December 5, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Potential new case studies for behavioural types: switching software systems</div>
      <div class="talk-meta">WG/MC Meeting on Behavioural Types for Reliable Large-Scale Software Systems, Rome, Italy, August 31, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">BETTY project presentation</div>
      <div class="talk-meta">Workshop Software Engineering: Computer Science Education and Research Cooperation, Sinaia, Romania, August 25-29, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Predicting and simulating complex software systems behaviour</div>
      <div class="talk-meta">3rd Workshop on Autonomous Control for Reliable Internet of Services, Larnaca, Cyprus, 2014</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Theory on the distributions and predictive capability of verification faults</div>
      <div class="talk-meta">SQAMIA 2013, Novi Sad, Serbia, September 15-17, 2013</div>
      <div class="talk-type"><strong>Type:</strong> keynote</div>
    </li>
    <li>
      <div class="talk-title">Software factory for student projects</div>
      <div class="talk-meta">Workshop Software Engineering: Computer Science Education and Research Cooperation, Bansko, Bulgaria, August 26-31, 2013</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Usluzno orijentirano racunarstvo [Service-oriented computing]</div>
      <div class="talk-meta">8th New Technologies Day (DaNTe 2013), Rijeka, Croatia, November 6, 2013</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Towards the knowledge-based society at the Software Engineering and Information Processing Laboratory (SEIP Lab)</div>
      <div class="talk-meta">Workshop Software Engineering: Computer Science Education and Research Cooperation, Opatija, Croatia, September 2-8, 2012</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
    <li>
      <div class="talk-title">Continuous improvement framework for global software development (with Zeljka Car)</div>
      <div class="talk-meta">13th International Software &amp; Systems Quality Conference (SQC 2008), Dusseldorf, Germany, April 15-18, 2008</div>
      <div class="talk-type"><strong>Type:</strong> invited talk</div>
    </li>
  </ol>
</section>

## Talk Archive

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
